<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
   <h1 >Services System Type</h1>
   <br>
   <div class="fluid-container">
	   <div class="row">
	   		<div class="col-sm-4"><img src="assets/Images/doctor.png" class="img-responsive" style="height: 236px;"></div>
	   		<div class="col-sm-4"><img src="assets/Images/book.png" class="img-responsive" style="height: 236px;"></div>
	   		<div class="col-sm-4"><img src="assets/Images/car.png" class="img-responsive" style="height: 236px;"></div>
	   	</div>
	   	<br>
	   	<br>
	   	<br>
	   	 <div class="row">
	   		<div class="col-sm-4"><img src="assets/Images/bus.png" class="img-responsive" style="height: 236px;"></div>
	   		<div class="col-sm-4"><img src="assets/Images/food.png" class="img-responsive" style="height: 236px;"></div>
	   		<div class="col-sm-4"><img src="assets/Images/clothes.png" class="img-responsive" style="height: 236px;"></div>
	   	</div>
   </div>
</body>
</html>